/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
!/storage/oauth-private.key
!/storage/oauth-public.key
/vendor
**/vendor
.env
.env.backup
.env.production
.env.development
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/storage/sijupri-app-firebase-adminsdk-hpb14-8a2345149e.json
/storage/sijupri-firebase-adminsdk-m3ssv-cfbd89ada7.json
auth.json